<div ng-controller = "DermaCart" id="cart-page-background">

<section>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	


	<div class="container" id="cart-section-background">
		<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:50%">Product</th>
					<th style="width:10%">Price</th>
					<th style="width:8%">Quantity</th>
					<th style="width:22%" class="text-center">Subtotal</th>
					<th style="width:10%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "product in cartProducts">
					<td data-th="Product">
						<div class="row">
							<div class="col-sm-3 hidden-xs">
								<img ng-src={{product.imgSrc}} id="small-product-image" alt="" class="img-responsive">
							</div>
							
							<div class="col-sm-9" "col-xs-0">
								<h4 class="nomargin">{{ product.title }}</h4>
							</div>
					</td>
					<td data-th="Price Per Unit">{{ product.salePrice | currency }}</td>
					<td data-th="Quantity">
						<input type="number" min="1" class="form-control text-center" ng-model="product.quantity" value={{product.quantity}}>
					</td>
					<td data-th="Subtotal" class="text-center">{{product.salePrice * product.quantity | currency }}</td>
					<td class="actions" data-th="">
						<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
						<button class="btn btn-danger btn-sm" ng-click="onRemove(product)"><i class="fa fa-trash-o"></i></button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr class="visible-xs">
					<td class="text-center"><strong>{{ total | currency }}</strong></td>
				</tr>
				<tr>
					<td><a href="#/products" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
					<td colspan="2" class="hidden-xs"></td>
					<td class="hidden-xs text-center"><strong>{{ total | currency }}</strong></td>
					
					<!-- BUTTON BELOW INTERACTS WITH CHECKOUTMODAL -->
					<td><button class="btn btn-success btn-block" data-toggle="modal" data-target="#checkoutModal">Checkout <i class="fa fa-angle-right"></i></button></td>
				</tr>
				<tr class="col-lg-3">
				
				<div class="user-cart-info">	
					<h3>Please enter your name and email to complete the checkout process.</h3>
					<input type="text" placeholder="First Name" required="true" class="input-lg"></input>
					
					<input type="text" placeholder="Last Name" required="true" class="input-lg"></input>
					
					<input type="email" placeholder="Email Address" required="true" class="input-lg"></input>
				</div>	

				</tr>
		   </tfoot>
		</table>
	</div>

	<!-- MODAL CODE BEGINS HERE -->
			<div class="modal fade" tabindex="-1" role="dialog" id="checkoutModal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h3 class="modal-title">Checkout Complete</h3>
			      </div>
			      <div class="modal-body">
			        <h4 class="modal-checkout-description">Your product selections have been successfully submitted! Our receptionist will confirm if there is any additional information needed from you during the checkout process for your current appointment in order to schedule your upcoming treatments or product purchases. Thank you for patronage of Bella Medical Spa! </h4>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" value="Remove Cookie" ng-click="RemoveCookie()" >Close</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

</section>
</div>
<!-- onclick="location.href='#/products'" -->