<div ng-controller = "DermaLogin">
		
	<section id="login-background">
		<div>	
			<!-- <img src="http://img.photobucket.com/albums/v285/picturekid/DermaSavLogoLargeRetina_zpsieclbj2t.png" id="dermasav-login-logo"> -->
			
				<div class="login-text-controls">
					<input type="text" id="username-box" placeholder="Username" class="input-lg" />
			
					<input type="password" placeholder="Password" class="input-lg" />
				</div>
			
			<div class="login-button-controls">
				<button type = "button" class = "btn btn-primary" ng-click="register()" id="register-button">
					Register
				</button>

				<button type = "button" class = "btn btn-primary" ng-click="login()" onclick="location.href='#/products'" id="login-button">
					Login
				</button>
			</div>
		</div>	
	</section>
