<!-- MODAL CODE BEGINS HERE -->
			<div class="modal fade" tabindex="-1" role="dialog" id="productModal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h3 class="modal-title">{{ modalProduct.title }}</h3>
			      </div>
			      <div class="modal-body">
			        <h4 class="modal-product-description">Your product selections have been successfully submitted! Our receptionist will confirm if there is any additional information needed from you during the checkout process for your current appointment in order to schedule your upcoming treatments or product purchases. Thank you for patronage of Bella Medical Spa! </h4>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button ng-click="addToCart(modalProduct)" type="button" class="btn btn-primary" data-dismiss="modal">Add to cart</button>
			      </div>
			    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			