body {
	padding-top: 55px;
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/DermaSavLandingPageImageV2_zpsurgtcfs1.jpg");
	background-size: cover;
}

.navbar-default {
	background-color: rgba(215, 222, 211, 0.8);
	border-top: 1px solid #4c5a44;
	border-bottom: 2px solid #4c5a44;
	box-shadow: 0px 1px 11px 2px #333;
}
/*INDEX PAGE*/
#small-dermasav-logo {
	display: block;
	width: 150px;
}


/*LOGIN PAGE*/


/*#dermasav-login-logo {
	width: 350px;
	height: 350px;
	display: block;
	margin: 40px auto auto auto;

}
*/
.login-text-controls input {
     margin: 10px auto;
   	 display: block;
   	 max-width: 300px;
     border-radius: 1px;
     box-shadow: 1px 3px 4px 1px #333 inset;
     border-style: none
}

#username-box {
	margin-top: 400px;
}

.login-button-controls {
     margin: 0 auto;
     width: 410px; 
}

#login-button, #register-button {
	width: 200px;
	max-height: 70px;
	margin-top: 20px;
	border-radius: 3px
}

#register-button, #login-button {
	background-color: #000;
	border-style: none;
}

#login-background {
	background-color: rgba(220, 220, 220, 0);
	background-size: cover;
	position: absolute;
	padding-top: 55px;
	border-bottom: 1px solid black;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;	
	right: 0
}

button, .btn.btn-warning {
	font-family: 'Abel', sans-serif;
}







/*PRODUCT PAGE*/
.product-learn-more {
     margin: 0 auto;
     display: block;
}

#product-page-box {
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/linen_2X_zpsrvvwitfr.png");
	box-shadow: 2px 2px 10px 2px #555;
	border: 1px solid #A08863;
	border-radius: 2px;
}

#product-page-box:hover { 
   text-decoration: none;
}

#product-section-background {
	/*background-color: rgba(210, 185, 149, 0.8);*/
	background-color: rgba(255, 255, 255, 0.55);
	border-radius: 5px;
	border: 3px solid #4c5a44;
	margin-top: 55px;
	margin-bottom: 55px;
	box-shadow: 0px 3px 8px 2px #444
}

#product-page-background {
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/GreyRoundPattern_zps9hj8cqgd.jpg");
	background-size: cover;
	position: absolute;
	padding-top: 55px;
	border-bottom: 2px solid black;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;	
	right: 0
}

.btn.btn-primary.product-learn-more {
	background-color: #aab9a2;
	border: 2px solid #4c5a44
}

.btn-primary {
	border-color: none;
}

h1 {
	font-family: 'Cinzel', serif;
	font-weight: bolder;
	letter-spacing: .2em;
	color: white;
	text-shadow: 3px 2px 2px #444;		
}

h4, h5 {
	font-family: 'Abel', sans-serif;
}


/*CART PAGE*/

#cart-section-background {
	background-color: rgba(240, 224, 203, 0.9);
	border-radius: 8px;
	margin-top: 55px;
	margin-bottom: 55px;
	border: 1px solid #555;
	box-shadow: 0px 2px 8px 2px #222
}

#cart-page-background {
	background-image: url("http://img.photobucket.com/albums/v285/picturekid/DermaSavProductBackground_zpsp4ndhhax.jpeg");
	background-size: cover;
	position: absolute;
	padding-top: 55px;
	border-bottom: 1px solid black;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;	
	right: 0;
}

#small-product-image {
	width: 100px;
	height: 100px;
}

#small-product-image {

}

.user-cart-info input {
	display: inline-block;
} 

h3 {
	font-family: 'Cinzel', serif;		
}


/*MODALS*/

.text-center {
	font-family: 'Abel', sans-serif;
}





/*FONTS*/
font-family: 'Cinzel', serif;
font-family: 'Abel', sans-serif;

